{% extends 'base.html' %}

{% block content %}

<div class="container ct">
    <div class="row">
        <div class="col-md-12 text-by-users">
           <p style="text-align: justify; font-size: 4vw;" class="text-center display-4"> Redirecting you to the Paytm gateway.</p>
           <p style="text-align: justify; font-size: 3vw;" class="text-center display-4"> Please do not refresh this page...</p>
           
        </div>

    </div>
    <form action="{{ endpoint }}" method="POST" name="paytm">
    	{% for key,value in param_dict.items %}
			<input type="hidden" name="{{ key }}" value="{{ value }}">
    	{% endfor %}
    </form>

</div>

<div class="text-center">
  <div style="position: absolute; bottom:23%;" class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
	document.paytm.submit();
</script>
{% endblock script %}