{% extends 'base.html' %}

{% block content %}

<div class="container ct">
    <div class="row">
        <div class="col-md-12 text-by-users">
            <h1 id="message_text" class="text-center">Transaction Failed!
           </h1>
           <p style="text-align: justify; font-size: 4vw;" class="text-center display-4"> please try again.</p>
           
        </div>

    </div>

</div>
<div style="width:100%; position: absolute; bottom:20%; z-index:9;" class="btncc text-center d-inline-block "><a href="{% url 'home' %}" class="btn btn-outline-danger">Back to Home</a></div>


{% endblock content %}